<div class="c-login">
  <div class="c-title">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>

  <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "c-input" do %>
        <span>Email</span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <% end %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :name, class: "c-input" do %>
        <span>Name</span>
        <%= f.text_field :name, autofocus: true %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password, class: "c-input" do %>
        <span>Password <i>(leave blank if you don't want to change it)</i></span>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "c-input" do %>
        <span>Password Confirmation</span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: "c-input" do %>
        <span>Current password <i>(we need your current password to confirm your changes)</i></span>
        <%= f.password_field :current_password, autocomplete: "new-password" %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class:"c-btn c-btn--yellow" %>
    </div>
  <% end %>

  <br />
  <div class="card">
    <div class="card-header">
      Two factor authentication
    </div>
    <div class="card-body">
      <% if current_user.otp_required_for_login %>
        <p>Two factor authentication is enabled.</p>
        <p><%= link_to("Disable Two Factor Authentication", two_factor_settings_path, class: "c-btn c-btn--red", method: :delete, data: {confirm: "Are you sure you want to disable two factor authentication?"}) %></p>
      <% else %>
        <p>Two factor authentication is NOT enabled.</p>
        <p><%= link_to("Enable Two Factor Authentication", new_two_factor_settings_path, class: "c-btn c-btn--yellow") %></p>
      <% end %>
    </div>
  </div>
  <br />

  <div class="links">
    <%= link_to "Back", :back %>
  </div>
</div>
