<td>
  <%= link_to user.email, user %><br/><%= invitation_status(user) %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.collection_check_boxes :role_ids, Role.all, :id, :name %>
    <%= f.submit 'Change Role', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Edit", edit_user_path(user), class: 'button-xs') %>
  <%= link_to("Delete", user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-xs') unless user == current_user %>
</td>
