<div class="c-login">
  <div class="c-title">
    <h2>Change your password</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, class: "c-input" do %>
        <span>New password</span>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "c-input" do %>
        <span>Confirm new password</span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class:"c-btn c-btn--yellow" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "shared/links" %>
  </div>

</div>
