<div class="c-login">
  <div class="c-title">
    <h2>Forgot your password?</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.label :email, class: "c-input" do %>
      <span>Email</span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% end %>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class:"c-btn c-btn--yellow" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "shared/links" %>
  </div>

</div>
