<% if @qrcode_svg.present? %>
  <br/>
  <div>
    <%= @otp_uri %>
  </div>
  <div>
    <%= @qrcode_svg.html_safe %>
  </div>
  <div>
    <%= current_user.otp_secret %>
  </div>
  <div>
    Backup Codes
    <% @codes.each do |code| %>
      <div>
        <%= code %>
      </div>
    <% end %>
  </div>
<% end %>

<br/>
<%= form_with url: user_mfa_index_path, method: :put do |form| %>
  <%= form.check_box :mfa_enabled, checked: current_user.otp_required_for_login %>
  <%= form.label :mfa_enabled, "MFA Enabled:" %>
  <%= form.submit "Submit" %>
<% end %>
